.button{
    display: block;
    appearance: none;
    border: none;
    font-family: inherit;
}

.button__l{
    /*heading M*/
    font-weight: 700;
    border-radius: 24px;
    font-size: 15px;
    line-height: 19px;
    font-style: normal;
}

.button__primary{
    background-color: var(--bg-primary-l-btn);
    color: var(--color-primary-l-btn);
}

.button__primary:hover, .button__primary:focus{
    background-color: var(--bg-primary-l-btn-hover);
}