.dialog-viewtask {
  background-color: var(--bg-sidebar_header_modals_card-task);
  padding: 24px 24px 32px 24px;
  width: 343px;
  border-radius: 6px;
}

.dialog-viewtask__header-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.dialog-viewtask__description,
.dialog-viewtask__header-container,
.dialog-viewtask__list-subtasks {
  margin: 0 0 24px 0;
}

.dialog-viewtask,
.dialog-viewtask__subtitle,
.dialog-viewtask__title,
.dialog-viewtask__view-subtask,
.dialog-viewtask__label,
.dialog-viewtask__label--is-completed,
.dialog-viewtask__input {
  transition: all 0.3s ease-in-out;
}

.dialog-viewtask__title {
  color: var(--color-text-general);
}

.dialog-viewtask__subtitle {
  letter-spacing: normal;
  color: var(--color-labels);
}

.dialog-viewtask__subtitle:first-of-type {
  margin: 0 0 16px 0;
}

.dialog-viewtask__subtitle:last-of-type {
  margin: 0 0 8px 0;
}

.dialog-viewtask__list-subtasks {
  list-style: none;
  padding: 0;
}

.dialog-viewtask__subtask:not(:last-child) {
  margin: 0 0 8px 0;
}

.dialog-viewtask__dropdown-menu{
  z-index: 1;
  left: -85px;
}

/**checkbox**/

.dialog-viewtask__view-subtask {
  background-color: var(--bg-body-switch);
  border-radius: 4px;
  padding: 13px 8px 16px 12px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.dialog-viewtask__view-subtask:hover{
  background-color: rgba(99, 95, 199, 0.25);
  mix-blend-mode: normal;
}

.dialog-viewtask__input {
  appearance: none;
  box-sizing: border-box;
  font-family: inherit;
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(130, 143, 163, 0.248914);
  border-radius: 2px;
  background-color: var(--white);
  position: relative;
  cursor: pointer;
}

.dialog-viewtask__input::before {
  content: url(../../Icons/icon-check.svg);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--main-purple);
  width: 100%;
  height: 100%;
  border-radius: 2px;
  visibility: hidden;
}

.dialog-viewtask__input:checked{
  border: none;
}

.dialog-viewtask__input:checked::before {
  visibility: visible;
}

.dialog-viewtask__label{
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-text-general);
}

.dialog-viewtask__label--is-completed{
  color: var(--color-text-general);
  opacity: 0.5;
  text-decoration-line: line-through;
}