@media screen and (min-width: 690px) {
  .container {
    display: grid;
    grid-template-columns: minmax(min-content, auto) 1fr;
    grid-template-areas:
      "header header"
      "sidebar main";
  }

  .header {
    grid-area: header;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .main-content {
    grid-area: main;
  }
}
