.main-content__message {
  margin: 0 0 25px 0;
  text-align: center;
}

.main-content__btn-add-column {
  padding: 15px 18px 14px 17px;
  margin: 0 auto;
  cursor: pointer;
}

.main-content__container {
  margin: 0 16px;
}

.main-content__container-heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
  margin: 0 0 24px 0;
}

.main-content__color-marking {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  flex: 0 0 15px;
}

.main-content {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 24px;
  padding: 24px 24px 50px 24px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.main-content--empty {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.main-content__name-column {
  color: var(--medium-grey);
}

.main-content__tasks-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-content__task-item:not(:last-child) {
  margin: 0 0 20px 0;
}

.main-content__card-task {
  border-radius: 8px;
  background-color: var(--bg-sidebar_header_modals_card-task);
  padding: 23px 16px;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
}

.main-content__btn-column,
.main-content__card-task {
  display: block;
  appearance: none;
  font-family: inherit;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.main-content__task-title,
.main-content__stat-subtasks {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.main-content__task-title {
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 8px 0;
  color: var(--color-text-general);
}

.main-content__stat-subtasks {
  font-size: 12px;
  line-height: 15px;
  color: var(--medium-grey);
}

.main-content__column,
.main-content__btn-column {
  flex: 0 0 280px;
}

.main-content__column--empty {
  align-self: stretch;
  border: 2px dashed var(--medium-grey);
}

.main-content__btn-column {
  margin: 39px 0 0 0;
  align-self: stretch;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--medium-grey);
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    var(--color-01-gradiente-btn-add-column) 0%,
    var(--color-02-gradiente-btn-add-column) 100%
  );
}

.main-content__btn-column:is(:hover, :focus) {
  color: var(--main-purple);
}

.main-content__card-task:is(:hover, :focus) .main-content__task-title {
  color: var(--main-purple);
}

@media screen and (min-width: 690px) {
  .main-content {
    min-height: calc(100vh - 81px);
    max-height: calc(100vh - 81px);
    overflow: auto;
  }

  .main-content--no-content {
    align-items: center;
    justify-content: center;
  }

  .main-content__messsage {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    font-style: normal;
  }
}

@media screen and (min-width: 940px) {
  .main-content {
    min-height: calc(100vh - 97px);
    max-height: calc(100vh - 97px);
  }

  .main-content__message {
    margin: 0 0 32px 0;
  }
}
