/**mobile-first**/

.heading-l {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
}

.heading-s {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
  font-style: normal;
}

@media screen and (min-width: 600px) {
  .heading-xl {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }
}
