.dropdown-container {
  position: relative;
}

.dropdown-container__btn {
  background-color: transparent;
  width: 4px;
  height: 16px;
  cursor: pointer;
}

.dropdown-container__icon {
  display: block;
}

.dropdown-container__list {
  list-style: none;
  position: absolute;
  top: 50px;
  left: -188px;
  background-color: var(--bg-dropdown);
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  padding: 16px;
  width: 192px;
  height: 94px;
  transition: all 0.3s ease-in-out;
}

.dropdown-container__item-list:not(:last-child) {
  margin: 0 0 16px 0;
}

.dropdown-container__option-btn {
  display: block;
  appearance: none;
  border: none;
  font-family: inherit;
  width: 100%;
  text-align: left;
  line-height: 23px;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-container__item-list:first-child .dropdown-container__option-btn {
  color: var(--medium-grey);
}

.dropdown-container__item-list:last-child .dropdown-container__option-btn {
  color: var(--red);
}

@media screen and (min-width: 600px) {
  .dropdown-container__btn {
    height: 20px;
  }
}
