/**mobile-first**/

/*.header__group:nth-child(1),
.header__backdrop-sidebar--hidden,*/
.header__menu-board--hide,
.header__text-btn-add-task {
  display: none;
}

.header__group/*:nth-child(2)*/,
.header.header,
.header__container-buttons,
.header__menu-button-sidebar {
  display: flex;
  flex-flow: row nowrap;
}

.header__icon {
  display: block;
}

.header__icon--logo {
  width: 24px;
  height: 25px;
}

.header__menu-button-sidebar {
  align-items: center;
  gap: 8px;
}

.header__name-board {
  color: var(--color-headings-modals-header-and-texts-inputs);
}

.header__icon-btn-add-task {
  display: block;
  width: 12px;
  height: 12px;
}

.header__btn-add-task {
  padding: 10px 18px 10px 18px;
}

.header__btn-add-task,
.header__btn-board,
.header__menu-button-sidebar {
  cursor: pointer;
}

.header__btn-board {
  background-color: transparent;
  width: 4px;
  height: 16px;
}

.header,
.header__container-buttons,
.header__group/*:nth-child(2)*/ {
  align-items: center;
  gap: 16px;
}

.header {
  justify-content: space-between;
  padding: 16px;
}


/***MENU BOARD OPTIONS***/

.header__menu-board{
  list-style: none;
  position: absolute;
  top: 50px;
  left: -188px;
  background-color: var(--bg-modals-dropdowns);
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  padding: 16px;
  width: 192px;
  height: 94px;
}

.header__menu-button-board{
  position: relative;
}

.header__btn-board-edit, .header__btn-board-delete{
  display: block;
  appearance: none;
  border: none;
  font-family: inherit;
  width: 100%;
  text-align: left;
  line-height: 23px;
  background-color: transparent;
  cursor: pointer;
}

.header__btn-board-edit{
  color: var(--medium-grey);
}

.header__btn-board-delete{
  color: var(--red);
}

.header__menu-item:not(:last-child){
  margin: 0 0 16px 0;
}