.backdrop-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: var(--black-variation-05);
  left: 0;
  z-index: 1010;
  overflow: auto;
}

.backdrop-modal__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 30px 0;
}
