* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --black: #000112;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-grey: #828fa3;
  --lines-light: #e4ebfa;
  --light-grey: #f4f7fd;
  --white: #ffffff;
  --red: #ea5555;
  --red-hover: #ff9898;

  /**CSS VARIABLES COLORS**/

  /**COLOR TEXT FROM HEADINGS, MODALS, HEADER, INPUTS, NAME COLUMN CARD TASK**/
  --color-text-general: var(--black);
  --color-heading-s: var(--medium-grey);

  /**BUTTONS**/

  /**PRIMARY LARGER**/
  --bg-primary-l-btn: var(--main-purple);
  --bg-primary-l-btn-hover: var(--main-purple-hover);
  --color-primary-l-btn: var(--white);
  --bg-btn-select-board-hover: rgba(99, 95, 199, 0.1);
  --color-btn-select-board-hover: var(--main-purple);

  /**SECONDARY SMALL**/
  --bg-secondary-s-btn: rgba(99, 95, 199, 0.1);
  --color-text-secondary-s-btn: var(--main-purple);
  --bg-secondary-s-btn-hover: rgba(99, 95, 199, 0.25);

  /**DESTRUCTIVE SMALL**/
  --bg-destructive-s-btn: var(--red);
  --color-text-btn-destructive: var(--white);
  --bg-destructive-s-btn-hover: var(--red-hover);

  /**OUTROS**/
  --box-shadow-sidebar-mobile: rgba(54, 78, 126, 0.25);

  /**MODALS**/
  --bg-dropdown: var(--white);
  --color-labels: var(--medium-grey);

  /**HEADER AND SIDEBAR(MOBILE/DESKTOP) AND MODALS AND CARD TASK**/
  --bg-sidebar_header_modals_card-task: var(--white);

  /**BODY AND SWITCH**/
  --bg-body-switch: var(--light-grey);

  /**CONTENT MAIN**/
  --color-01-gradiente-btn-add-column: #e9effa;
  --color-02-gradiente-btn-add-column: rgba(233, 239, 250, 0.5);
}

[data-theme="dark"] {
  /**BUTTONS**/

  /**PRIMARY LARGER**/
  --bg-btn-select-board-hover: var(--white);

  /**SECONDARY SMALL**/
  --bg-secondary-s-btn: var(--white);
  --bg-secondary-s-btn-hover: var(--white);

  /**DROPDOWNS AND MODALS**/
  --bg-dropdown: var(--very-dark-grey);
  --color-labels: var(--white);

  /**COLOR TEXT FROM HEADINGS, MODALS, HEADER, INPUTS, NAME COLUMN CARD TASK**/
  --color-text-general: var(--white);

  /**HEADER AND SIDEBAR(MOBILE/DESKTOP) AND MODALS AND CARD TASK**/
  --bg-sidebar_header_modals_card-task: var(--dark-grey);

  /**BODY AND SWITCH**/
  --bg-body-switch: var(--very-dark-grey);

  /**CONTENT MAIN AND BTN ADD COLUMN**/
  --color-01-gradiente-btn-add-column: rgba(43, 44, 55, 0.25);
  --color-02-gradiente-btn-add-column: rgba(43, 44, 55, 0.125);
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/**body M**/
body {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--medium-grey);
  background-color: var(--bg-body-switch);
  transition: all 0.3s ease-in-out;
}

.has-dialog{
  overflow: hidden;
}