.backdrop-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    z-index: 1010;
}

.dialog{
    position: absolute;
    top: 279px;
    z-index: 1020;
    background-color: var(--bg-modals-dropdowns);
}